<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ALL OVER</title>
    @*@Styles.Render("~/Content/css")*@
<link rel="icon" href="img/logo pagina.ico">
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">


    <link type="text/css" rel="stylesheet" href="~/Conten/bootstrap.min.css" />


    <link type="text/css" rel="stylesheet" href="~/Content/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/slick-theme.css" />


    <link type="text/css" rel="stylesheet" href="~/Conten/nouislider.min.css" />


    <link rel="stylesheet" href="~/Content/font-awesome.min.css">


    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/menu.css" />
    <!-- Icon -->
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ALLOVER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Catalogo", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="menu" id="menu">
        <div class="contenedor contenedor-botones-menu">

            <button id="btn-menu-barras" class="btn-menu-barras"><i class="fas fa-bars"></i> <span>Menu</span></button>
            <button id="btn-menu-cerrar" class="btn-menu-cerrar"><i class="fas fa-times"></i></button>
        </div>
        <div class="contenedor contenedor-enlaces-nav">

            <div class="btn-departamentos" id="btn-departamentos">

                <p>Todas los <span>Departamentos</span></p>
                <i class="fas fa-caret-square-down"></i>

            </div>
        </div>

        <div class="contenedor contenedor-grid">
            <div class="grid " id="grid">
                <div class="categorias">
                    <button class="btn-regresar"><i class="fas fa-arrow-left"></i> Regresar</button>
                    <h3 class="subtitulo">Categorias</h3>

                    <a href="#" data-categoria="computadoras"> Computadoras <i class="fas fa-angle-right"></i></a>
                    <a href="#" data-categoria="telefonos">Telefonos <i class="fas fa-angle-right"></i></a>
                    <a href="#" data-categoria="videojuegos">VideoJuegos <i class="fas fa-angle-right"></i></a>
                    <a href="#" data-categoria="accesorios">Otos <i class="fas fa-angle-right"></i></a>

                </div>


                <div class="contenedor-subcategorias">
                    <div class="subcategoria " data-categoria="computadoras">
                        <div class="enlaces-subcategoria">
                            <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                            <h3 class="subtitulo">Computadoras</h3>
                            <a href="#">Laptops</a>
                            <a href="#">Escritorio</a>
                            <a href="#">Mac</a>
                            <a href="#">Monitores</a>

                        </div>

                        <div class="enlaces-subcategoria">
                            <br></br>
                            <a href="#">Laptops</a>
                            <a href="#">Escritorio</a>
                            <a href="#">Mac</a>
                            <a href="#">Monitores</a>
                            <a href="#">Componentes</a>
                        </div>

                    </div>

                    <div class="subcategoria " data-categoria="telefonos">
                        <div class="enlaces-subcategoria">
                            <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                            <h3 class="subtitulo">Telefonos</h3>
                            <a href="#">Accesorios</a>
                            <a href="#">Celulares</a>
                            <a href="#">Smartwaches</a>
                            <a href="#">Lentes de realidad virtual</a>

                        </div>



                    </div>


                    <div class="subcategoria " data-categoria="videojuegos">
                        <div class="enlaces-subcategoria">
                            <button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
                            <h3 class="subtitulo">VideoJuegos</h3>
                            <a href="#">Consolas</a>
                            <a href="#">Controles</a>
                            <a href="#">Juegos</a>
                            <a href="#">Accesorios</a>
                            <a href="#">Portatiles</a>

                        </div>

                        <div class="enlaces-subcategoria">
                            <br></br>
                            <a href="#">Xbox One </a>
                            <a href="#">PlayStation 4</a>
                            <a href="#">Nintendo Switch</a>

                        </div>

                    </div>


                </div>

            </div>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- FOOTER -->
        <footer id="footer">
            <!-- top footer -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Acerca de ALL OVER</h3>
                                <p>El objetivo de ALL OVER es que los usuarios tengan una mejor experiencia en la compa en linea y comparen precios para elegir la mejor opcion </p>

                            </div>
                            <p><a href="#">Terminos y condiciones</a></p>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Categories</h3>
                                <ul class="footer-links">
                                    <li><a href="#">Computadoras</a></li>
                                    <li><a href="#">Videojuegos</a></li>
                                    <li><a href="#">Telefonos</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="clearfix visible-xs"></div>



                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Service</h3>
                                <ul class="footer-links">
                                    <li><a href="#">My Account</a></li>

                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /top footer -->
            <!-- bottom footer -->
            <div id="bottom-footer" class="section">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <span class="copyright">

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved  by <a href="https://colorlib.com" target="_blank">ShadowKiz</a>

                            </span>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /bottom footer -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/menu.js")
   @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/slick.min.js")
    @Scripts.Render("~/Scripts/nouislider.min.js")
    @Scripts.Render("~/Scripts/jquery.zoom.min.js")
    @Scripts.Render("~/Scripts/main.js")


    <script src="https://kit.fontawesome.com/1c770d1a23.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
